@model onlineShop4DVDs.Models.loginView
@{
    ViewData["Title"] = "login";
}

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image:url('@Url.Content("~/UP-Assets/img/bg-img/breadcumb3.jpg")');">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Login</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        @{
            if (@ViewBag.registerMessage != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@ViewBag.registerMessage</strong> Login to access your account.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            if (@ViewBag.LoginMessage != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>@ViewBag.LoginMessage</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        }
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Welcome Back</h3>
                    <!-- Login Form -->
                    <div class="login-form">
                        <form asp-action="login" asp-controller="Login" method="post">
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" type="email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" type="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <div class="d-flex justify-content-between">
                                    <p class="text-secondary">Forgot Password?</p>
                                    <p class="text-secondary">Don't have an account? <a asp-action="register" asp-controller="Login">Signup</a></p>
                                </div>
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->
