@model onlineShop4DVDs.Models.ShopModelView

<div class="album-details">
    <h2>@Model.ShopAlbum.Title</h2>
    <p>Artists: @string.Join(", ", Model.ShopArtist.Select(a => a.Name))</p>
    <p>Categories: @string.Join(", ", Model.ShopCategory.Select(c => c.CategoryName))</p>
    @* <p>Feedback Count: @Model.ShopFeedback.Count()</p> *@
    <ul>
        @foreach (var song in Model.ShopSong)
        {
            <li>@song.Title</li>
        }
    </ul>
    <!-- Add more display logic for other entities -->
</div>