@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor access


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Shop4DVDs</title>

    <!-- Favicon -->
    <link rel="icon" href="~/UP-Assets/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/UP-Assets/style.css">
  
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a asp-action="index" class="nav-brand"><img src="~/UP-Assets/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a asp-action="index" asp-controller="Home">Home</a></li>
                                    <li><a asp-action="albumStore" asp-controller="Home">Albums</a></li>
                                    <li><a asp-action="events" asp-controller="Home">Events</a></li>
                                    <li><a asp-action="news" asp-controller="Home">News</a></li>
                                    <li><a asp-action="contact" asp-controller="Home">Contact</a></li>
                                    @if(@access.HttpContext.Session.GetString("UserName") != null)
                                    {
                                        <li>
                                            <a href="#">User Settings</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a asp-action="UserProfile" asp-controller="Login" asp-route-id="@access.HttpContext.Session.GetString("UserID")">Profile</a>
                                                </li>

                                                <li><a asp-action="logout" asp-controller="Login">Logout</a></li>
                                                @* <li>
                                            <a href="#">Dropdown</a>
                                            <ul class="dropdown">
                                            <li><a href="#">Even Dropdown</a></li>
                                            <li><a href="#">Even Dropdown</a></li>
                                            <li><a href="#">Even Dropdown</a></li>
                                            <li>
                                            <a href="#">Even Dropdown</a>
                                            <ul class="dropdown">
                                            <li><a href="#">Deeply Dropdown</a></li>
                                            <li><a href="#">Deeply Dropdown</a></li>
                                            <li><a href="#">Deeply Dropdown</a></li>
                                            <li><a href="#">Deeply Dropdown</a></li>
                                            <li><a href="#">Deeply Dropdown</a></li>
                                            </ul>
                                            </li>
                                            <li><a href="#">Even Dropdown</a></li>
                                            </ul>
                                            </li> *@
                                            </ul>
                                        </li>
                                    }

                                </ul>

                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    @if (@access.HttpContext.Session.GetString("UserName") != null)
                                    {
                                        <div class="login-register-btn mr-50 d-flex align-items-center ">
                                            <div class="px-2">
                                                <img src="@access.HttpContext.Session.GetString("ProfilePicture")" alt="Profile Picture" class="rounded-circle" style="width: 30px; height: 30px; object-fit: cover;" />
                                            </div>

                                            <a asp-action="UserProfile" asp-controller="Login" id="loginBtn" asp-route-id="@access.HttpContext.Session.GetString("UserID")">Hello, @access.HttpContext.Session.GetString("UserName")</a>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="login-register-btn mr-50">
                                            <a asp-action="login" asp-controller="Login" id="loginBtn">Login/Register</a>
                                        </div>
                                    }

                                    <!-- Cart Button -->
                                    <div class="cart-btn">
                                        <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="~/UP-Assets/img/core-img/logo.png" alt=""></a>
                    <p class="copywrite-text">
                        <a href="#">
                           Copyright &copy;<script>document.write(new Date().getFullYear());</script> This Website is Underconstruction.</a>
                    </p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li><a asp-action="albumStore" asp-controller="Home">Albums</a></li>
                            <li><a asp-action="events" asp-controller="Home">Events</a></li>
                            <li><a asp-action="news" asp-controller="Home">News</a></li>
                            <li><a asp-action="contact" asp-controller="Home">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->

    <!-- jQuery-2.2.4 js -->
    <script src="~/UP-Assets/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/UP-Assets/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/UP-Assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/UP-Assets/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/UP-Assets/js/active.js"></script>
</body>

</html>
